html {
  font-family:Verdana;
}
div.request-item {
  width:100%;
}
div.request-key {
  width:20%;
  float:left;
}
div.request-value {
  width:80%;
  float:left;
}
div.spacer {
  clear:both;
}
div.k0 {
  background-color:#FF7000;
}
div.k1 {
  background-color:#FF8000;
}
div.k2 {
  background-color:#FF9000;
}
div.k3 {
  background-color:#FF9999;
}
div.request-value {
  background-color:#1874CD;
}